<div class="panel panel-default col-sm-12 col-lg-3">
  <div class="panel-body">
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        ...
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default col-sm-12 col-lg-3">
  <div class="panel-body">
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        ...
      </div>
    </div>
  </div>
</div>
