<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a ui-sref="home">
          <img alt="JuanMa Ruiz" class="media-object" data-src="holder.js/64x64" src="https://secure.gravatar.com/avatar/cca51d1253dbee191a2126c288730e49?s=160&d=https%3A%2F%2Fcss-tricks.com%2Fimages%2Fget-gravatar.png&r=pg" data-holder-rendered="true" style="width: 64px; height: 64px;">
        </a>
      </div>
      <div class="media-body">
        <header>
          <h4 class="media-heading">JuanMa Ruiz</h4>
        </header>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>
  </div>
</div>
