<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a ui-sref="home">
          <img alt="JuanMa Ruiz" class="media-object" ng-src="{{userCtrl.userAvatar}}" data-holder-rendered="true" style="width: 64px; height: 64px;">
        </a>
      </div>
      <div class="media-body">
        <header>
          <h4 class="media-heading">{{userCtrl.userName}}</h4>
        </header>
        <p>{{userCtrl.userDescription}}</p>
      </div>
    </div>
  </div>
</div>
